body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #35425b;
    color: #29252c;
    font-size: 1.3em;

}

.container {
    margin: auto;
    max-width: 1500px;
}

header {
    padding: 0em 1em 0.5em 1em;
    background-color: #35425b;
    height: 5em;
    color: white;
}

main,
aside {
    background-color: #d7e9f0;
    padding:1em;
}

.colourBlock{
    background-color: #ef3938;
    height: 2em;
    width: 100%;
}

.companyName{
    margin: 10px;
    border: solid;
    border-width: 0px 0px 40px 0px;
    border-color: #ef3938;
}

.border {
    /* border-width: 2px; */
    /* border-color: rgb(192, 192, 192); */
    border-width: 2px;
    border-style: groove;
    border-color: #ef3938;
    border-image: initial;
    margin: 3px;
    padding: 3px;
}

fieldset{
    margin: 3px;
}

figure img{
    max-width: 500px;
    width: 100%;
}

.fit-content {
    width: fit-content;
}

.md-5p {
    margin-bottom: 5px;
}

.my-3p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.ft-1 {
    font-size: 16px;
}

input{
    margin:2px
}

input[type=text] {
    max-width: 200px;
    min-height: 22px;
    font-size: 18px;
}

#surname {
    max-width: 312px;
}

#postcode {
    max-width: 100px;
}

#message {
    max-width: 99%;
    /* max-width: 1062px; */
    min-height: 2em;
}

input[type=submit]{
    max-width: 5em;
    min-height: 2em;
}

